body {
  background-color: #878787;
  color: white;
}

.bubble-text {
  font: 20px sans-serif;
  color: green;
  z-index: 1;
}

.node:hover {
  border: 3px solid #696969;
}

.title {
  font-family: 'Lobster', cursive;
  font-size: 80px;
  text-align: center;

}

.welcome {
  color: #B1FB17;
  padding: 50px;
}

.textblock {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  width: 50%;
  margin: 0 auto;
}

.button {
  background-color: #B1FB17;
  box-shadow: 30px 30px 30px #888888;
  border-radius: 20px;
  outline: 0 none;
  color: #878787;
  font-family: 'Lobster', cursive;
  font-size: 35px;
  white-space: nowrap;
  padding: 10px;
  margin: 50px;
}

.button:hover {
  color: #b3b3b3;
}

.center {
  text-align: center;
}

/*.tooltip {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
}*/

div.tooltip { 
    position: absolute;     
    text-align: center;             
    padding: 5px;       
    font-family: 'Roboto', sans-serif;
    font-size: 20px;    
    /*background: #B1FB17; */
    background: #b3b3b3;
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}