body {
  background-color: #878787;
  color: white;
}

.bubble-text {
  font: 20px sans-serif;
  color: green;
  z-index: 1;
}

.node:hover {
  border: 3px solid #696969;
}

.title {
  font-family: 'Lobster', cursive;
  font-size: 80px;
  text-align: center;

}

.welcome {
  color: #B1FB17;
  padding: 50px;
}

.textblock {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.button {
  
}