<!DOCTYPE html>
<meta charset="utf-8">

<head>

  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <script src='https://code.jquery.com/jquery.js'> </script>
  <script src="//d3js.org/d3.v3.min.js"></script>
  <script src="/static/bubble.js"></script>

</head>

<body>

  <div class="title">Loading...</div>

  <div class="center" id="load-div"><img src="static/loading.gif" alt="loading!" id="loading"></div>

  <div class="center bubble">
    
  <div>

</body>