<!DOCTYPE html>
<meta charset="utf-8">
<style>

text {
  font: 20px sans-serif;
}

</style>
<body>
<script src="//d3js.org/d3.v3.min.js"></script>
<div> "Hey, cats" </div>

<script>

var diameter = 960,
    format = d3.format(",d"), // used in node title
    color = d3.scale.category20c(); //used in node color

// make a bubble, packed, with size and padding
var bubble = d3.layout.pack()
    .sort(null)
    .size([diameter, diameter])
    .padding(1.5);

// Add an svg element to the body with a width, height, and class
var svg = d3.select("body").append("svg")
    .attr("width", diameter)
    .attr("height", diameter)
    .attr("class", "bubble");


// make a server call to get cats
d3.json("cats.json", function(error, root) {
  // error out if no cats
  if (error) throw error;

  // every circle is a node
  var node = svg.selectAll(".node")
      // .data(bubble.nodes(classes(root))
      .data(bubble.nodes(root)
      // this filters out any nodes with children (ie the giant circle)
      .filter(function(d) { return !d.children; }))
      // g is the svg element that holds each circle
      .enter().append("g")
      // add 'node' class
      .attr("class", "node")
      // transform determines location, and are calculate by d3
      .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

  // add a title to the node
  node.append("title")
      // .text(function(d) { return d.className + ": " + format(d.value); });
      // .text("cat");
      .text(function(d) { return d.name; });

  // add a circle element to the node
  node.append("circle")
      //  add the radius (calculated where?)
      .attr("r", function(d) { return d.r; })
      .style("fill", function(d) { return color(d.sentiment); })
      // .style("fill", function(d) { return d3.scale.linear(d.sentiment).domain([0,4]).range(["red","green"]) })

      // var ramp=d3.scale.linear(d.sentiment).domain([0,4]).range(["red","green"]);
      // .style("stroke", "black")
      // .style("stroke-width", "-2");
      // .style("fill", function(d) { return color(d.packageName); });

  // add some text to the node (title?)
  node.append("text")
      .attr("dy", ".3em")
      .style("text-anchor", "middle")
      .text(function(d) { return d.name; });
      // .text(function(d) { return d.className.substring(0, d.r / 3); });
} );

var color = d3.scale.linear()
    .domain([0, 2, 4])
    .range(["red", "yellow", "green"]);

// Don't need this for cats
// Returns a flattened hierarchy containing all leaf nodes under the root.


// function classes(root) {
//   var classes = [];

//   function recurse(name, node) {
//     if (node.children) node.children.forEach(function(child) { recurse(node.name, child); });
//     else classes.push({packageName: name, className: node.name, value: node.size});
//   }

//   recurse(null, root);
//   return {children: classes};
// }

// ??
d3.select(self.frameElement).style("height", diameter + "px");

</script>